<div *ngIf="products">
    <div class="modal fade theme1 style1" *ngFor="let product of products" [id]="'product-details-'+product.id"
        tabindex="-1" role="dialog" aria-labelledby="'productDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 mx-auto col-lg-5 mb-lg-0">
                            <div class="product-sync-init">
                                <div class="single-product">
                                    <div class="product-thumb">
                                        <img width="460" src="{{ url + product.image }}" alt="product-thumb">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 mt-3">
                            <div class="modal-product-info">
                                <div class="product-head">
                                    <div class="product-thumbnail position-relative">
                                        <span class="btn btn-danger top-right mb-3">New</span>
                                    </div>
                                    <h2 class="sub-title">{{ product.name }}</h2>
                                    <h3 class="title">Category : {{ product.category }} </h3>
                                </div>
                                <div class="product-body">
                                    <span class="product-price text-center"> <span class="new-price">Best Sellers</span>
                                    </span>
                                    <div class="star-content mb-3">
                                        <div class="rating">
                                            <div class="stars">
                                                <i class="fa fa-star gold"></i>
                                                <i class="fa fa-star gold"></i>
                                                <i class="fa fa-star gold"></i>
                                                <i class="fa fa-star gold"></i>
                                                <i class="fa fa-star gold"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>In stock : {{ product.quantity }}</p>
                                    <!-- <p>. USED</p> -->
                                    <!-- <p>. COLLECTIBLE</p> -->
                                </div>
                                <div class="product-footer">
                                    <div class="product-count style d-flex flex-column flex-sm-row my-4">
                                        <p class="lead">{{product.description2}}</p>
                                        <div class="pro-social-links mt-10">
                                        </div>
                                    </div>
                                    <div class="product-footer">
    
                                        <div class="modal-product-info">
                                            <div class="product-head">
                                                <h2 class="title">New Products 2021</h2>
                                                <h4 class="title">Reference: {{ product.reference }} </h4>
                                                <p class="text-center" style="font-size: 24px">Price: <span class="text-info">{{ product.price}}€</span></p>
                                                <div class="text-center">
                                                    <button class="btn btn-lg btn-primary" (click)="addProductToCart(product.id)">Add to cart</button>
                                                    <a href="product"
                                                        class="btn btn-success btn-lg my-3 my-md-5 me-5 text-light"
                                                        role="button">Search Products</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>