/* Configuration CSS */
.text-center {
    margin-top: 20px;
}

button { 
    margin: 25px; 
    
}

button.btn.btn-primary { 
    width:230px;
}

p.lead {
    color: white;
}

.modal-content {
    background-color:#8164aa
}

p {
    font-size: 18px;
}

img {
    max-width: 100%;
}

:focus {
    outline: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

span {
    display: inline-block;
}

span.separator {
    color: #bfbfbf;
    margin: 0 8px;
    line-height: 1;
    font-size: 14px;
}

.zoom-in img {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.zoom-in:hover img {
    -webkit-transform: scale(1.045) rotate(0.05deg);
    transform: scale(1.045) rotate(0.05deg);
}

body {
    background-color: #8164aa;
    font-family: "Gilroy-Regular ☞";
    font-weight: 400;
    font-size: 14px;
    color: #f0f0f0;
    line-height: 24px;
    visibility: visible;
    overflow-x: hidden;
}

@media screen and (max-width: 991px) {
    .total-products {
        margin-left: 20px;
    }
}

/*=======================
	 STARS STYLE
========================*/

.fa-star {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}

.fa-star.gold {
    color: #ffdc0f;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars {
    display: inline-flex;
    justify-content: left;
    font-size: 1em;
}

a:hover {
    transform: scale(1.1)
}

button:hover {
    transform: scale(1.1)
}

li.list-group-item {
    background-color: #8164aa;
    color: #ffffff;
}

/* modal style1 */

.modal.style1 .modal-dialog {
    max-width: 1020px;
}

.modal.style1 .modal-header {
    border: none;
    padding: 6px 0.625rem;
    height: 30px;
}

.modal.style1 .modal-header .close {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    position: absolute;
    top: 25px;
    right: 30px;
    padding: 0;
}

.modal.style1 .modal-body {
    padding: 30px 30px 90px;
    background: #8164aa;
}

.modal.style1 .title {
    font-weight: 400;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 18px;
    font-family: "Gilroy-Regular ☞";
    margin: 0 0 20px 0;
}

.modal.style1 {
    font-size: 14px;
    color: #ffffff;
    margin: 0 0 14px 0;
}

.modal.style1 {
    color: #fdd835;
    font-size: 14px;
}

.modal.style1 .new-price {
    text-transform: capitalize;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    font-size: 26px;
    font-family: "Gilroy-Bold ☞";
    margin-bottom: 10px;
}

.modal.style1 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

