.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }

/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
   .fa-star {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
  }
  /* Si elle porte en plus la classe '.gold', elle sera en jaune. */
  .fa-star.gold {
    color: #ffdc0f;
  }
  
  /* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
  .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
    /* Le groupe '.stars' positionne les étoiles
       les unes à côté des autres sans espacements. */
    .stars {
      display: inline-flex;
      justify-content: left;
      font-size: 1em;
    }

  a:hover { transform: scale(1.1) }



