<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-3 fw-bolder">Market Sport in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Exclusive new Styles American Sportswear</p>
        </div>
    </div>
</header>
<!-- <div *ngIf="products"></div> -->
<div class="tab-content container" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row grid-view theme1">
            <div class="col-sm-6 col-md-4 mb-30" *ngFor="let product of products; let i = index;"
                class="card d-inline-block card-responsiveness" attr.id="{{product.id}}">>
                <div class="card product-card">
                    <div class="card-body">
                        <div class="product-thumbnail position-relative">
                            <span class="btn btn-secondary top-left">Sale</span>
                            <a>
                                <img class="first-img" width="420" src="{{ url + product.image }}" alt="thumbnail">
                            </a>
                            <h5 class="d-inline"> {{product.name}}</h5>
                        </div>
                        <p class="card-text">
                        </p>
                        <ul class="list-group list-group-flush" id="contenu">
                            <li class="list-group-item">Description : {{ product.description }}</li>
                            <li class="list-group-item">Category : {{product.category}}</li>
                            <li class="list-group-item">Quantity : {{product.quantity}}</li>
                            <li class="list-group-item">Reference : {{product.reference}}</li>
                        </ul>
                        <h5 class="text-left my-3">Price : <span class="text-info">{{product.price}}€</span></h5>
                        <h5 class="fw-bolder">Popular Item</h5>
                        <div class="rating">
                            <div class="stars">
                                <i class="fa fa-star gold"></i>
                                <i class="fa fa-star gold"></i>
                                <i class="fa fa-star gold"></i>
                                <i class="fa fa-star gold"></i>
                                <i class="fa fa-star gold"></i>
                            </div>
                            <ul class="product-links d-flex justify-content-center">
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                        <button class="btn btn-outline-info mt-3 me-3" data-bs-target="#reservationModal"
                            data-bs-toggle="modal" (click)="loadModalData(product.id)">Reserve it</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        [attr.data-target]="'#product-details-'+product.id">Details</button>
                    <div class="product-desc py-0">
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-3 text-center">
                    <button class="btn btn-secondary" (click)="addProductToCart(product.id)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-end">
    <a href="product" class="btn btn-success btn-lg my-3 my-md-5 me-5 text-light" role="button">Search Products</a>
    <a href="cart" class="btn btn-info btn-lg my-3 my-md-5 me-5" role="button">My cart</a>
</div>


<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="reservationModalLabel">Product reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="productToReserve && user" class="modal-body">
                <p>Do you confirm the reservation of <span class="text-info">{{productToReserve.name}}</span>?</p>
                <p>We will keep you informed on our progress with your email:</p>
                <p class="text-info">{{user.email}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
                    (click)="addReservation()">Confirm reservation</button>
            </div>
        </div>
    </div>
</div>


<app-product-details [products]="products"></app-product-details>