<h1 class="order-title text-light text-center mb-5">Your order</h1>

<h3 class="my-4 py-3 text-light text-center order-section-title-background">Summary of your purchases</h3>
<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let cartProduct of cartProducts" class="text-light">
              <ng-container *ngIf="cartProduct.quantity > 0">
                <th scope="row">{{cartProduct.name}} ( Size: {{cartProduct.size}}, Color: {{cartProduct.color}} )</th>
                <td>{{cartProduct.price}}€</td>
                <td>* {{cartProduct.cartQuantity}}</td>
                <td *ngIf="cartProduct.price && cartProduct.cartQuantity" class="text-center">{{cartProduct.price * cartProduct.cartQuantity}}€</td>
              </ng-container>
            </tr>
          <tr class="text-light">
              <th scope="row" colspan="3" class="text-end">Total without discount </th>
              <td scope="row" colspan="2" class="text-center">{{totalPrice}}€</td>
          </tr>
          <tr *ngIf="totalPrice >= 150" class="text-info">
            <th scope="row" colspan="3" class="text-end">Shipping fees </th>
            <td scope="row" colspan="2" class="text-center">Free</td>
          </tr>
          <tr *ngIf="150 > totalPrice" class="text-warning">
            <th scope="row" colspan="3" class="text-end">Shipping costs (free from 150 € of purchases)</th>
            <td scope="row" colspan="2" class="text-center">6.99€</td>
          </tr>
          <tr class="text-info">
              <th scope="row" colspan="3" class="text-end">Total with discount and shipping costs</th>
              <td *ngIf="totalPrice >= 150" scope="row" colspan="2" class="text-center">{{0.9 * totalPrice | number:'1.0-1'}}€</td>
              <td *ngIf="150 > totalPrice" scope="row" colspan="2" class="text-center">{{(0.9 * totalPrice) + 6.99 | number:'1.0-2'}}€</td>
          </tr>
          <tr class="text-info">
            <th scope="row" colspan="3" class="text-end">Discount amount </th>
            <td scope="row" colspan="2" class="text-center">{{0.1 * totalPrice | number:'1.0-1'}}€</td>
          </tr>
        </tbody>
    </table>
</div>

<form>
    <div class="form-group text-center">
        <a href="product" class="btn btn-success btn-lg my-3 d-block mx-5 my-md-5 d-md-inline-block text-light" role="button">Resume my purchases</a>
        <a href="cart" class="btn btn-primary btn-lg my-3 d-block mx-5 my-md-5 d-md-inline-block text-light" role="button">Back to cart</a>
        <a href="delivery" class="btn btn-info btn-lg my-3 d-block mx-5 my-md-5 d-md-inline-block text-light" role="button">&#10003; Continue the order</a> 
    </div>
</form>