<div class="brand">
    <img src="../../assets/img/logo.svg" class="logo" alt="timer">
    <h1>Sport Market</h1>
</div>
<header id="head" class="secondary"></header>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="http://localhost:4200/product">Search Products</a></li>
    </ol>
    <div class="row">
        <article class="col-sm-9 maincontent">
            <div class="section-title text-center mb-15">
                <h1 class="title text-dark text-capitalize">Contact us</h1>
            </div>
            <br>
            <p>
                We’d love to hear from you. Interested in working together? Fill out the form below with some info about
                your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
            </p>
            <br>
            <form>
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success  !</strong> Your email has been sended successfully.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Name">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Phone">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </form>
        </article>
        <aside class="col-sm-3 sidebar sidebar-right">
            <div class="widget">
                <h4>Address</h4>
                <address>
                    Boulevard street, Nice, 06000, FRANCE
                </address>
                <h4>Phone:</h4>
                <address>
                    +33 06.32.32.32.32
                </address>
            </div>
        </aside>
    </div>
</div>
<section class="container-full top-space">
    <div id="map"></div>
</section>

<!-- <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <input type="text" placeholder="Name" name="name" ngModel required #name="ngModel">
    <input type="text" placeholder="Email" email name="email" ngModel required #email="ngModel">
    <textarea placeholder="Messages" name="messages" ngModel required #messages="ngModel"></textarea>
    <input type="submit" value="Send">
</form> -->