<!-- EB ContactUs -->
<div class="brand">
    <img src="../../assets/img/logo.svg" class="logo" alt="timer">
    <h1>Sport Market</h1>
</div>
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <h1 class="title text-dark text-capitalize">Contact us</h1>
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Your Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Company" formControlName="company">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="First name" formControlName="firstName">
                        <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                            First name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Last name" formControlName="lastName">
                        <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                            Last name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Address" formControlName="address"></textarea>
                        <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                            Address is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="!hasUnitNumber">
                <div class="col">
                    <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
                        + Add C/O, Apt, Suite, Unit
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="hasUnitNumber">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="City" formControlName="city">
                        <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="State" formControlName="state">
                            <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                                {{ state.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                            State is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number"
                            formControlName="postalCode">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Your message</mat-label>
                        <textarea matInput #message maxlength="500" formControlName="message"></textarea>
                        <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <!-- Section: Form -->
        <section class="">
            <form [formGroup]="newsLetter" (ngSubmit)="onSubmitEmail()">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control" formControlName="email"/>
                            <label class="form-label" for="form5Example2">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

            </form>
        </section>
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="http://localhost:4200/product">Sport Market</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

