<h1 class="text-light text-center my-5">Mon panier</h1>

<div class="card-group">
    <div class="card bg-transparent">
        <img class="card-img-top" src="../../../assets/img/cart.png" alt="Card image cap">
        <div class="card-body">
            <div class="card-title text-light">
                <h5 class="d-inline">ASICS GEL-NOOSA TRI 13 M</h5>
                <button type="button" class="btn-close ms-4" aria-label="Close">
                </button>
            </div>
            <p class="card-text text-light">Chaussures basses running homme</p>
            <p class="card-text text-light">Taille 44</p>
            <p class="card-text text-light">Référence: 300826</p>
            <p class="card-text text-info">En stock</p>
            <p class="card-text text-light text-end">Prix unitaire</p>
            <p class="card-text text-light text-end">139,99€</p>
            <p class="card-text text-light text-center">Quantité</p>
            <form id='myform' class="text-center" method='POST' action='#'>
                <input type='button' value='+' class='qtyminus bg-info text-light' field='quantity' />
                <input type='text' name='quantity' value='3' class='qty text-center w-25' />
                <input type='button' value='-' class='qtyplus bg-info text-light' field='quantity' />
            </form>            
            <p class="card-text text-light text-end mt-5">Total</p>
            <p class="card-text text-info text-end ">Avec notre remise immédiate de 10%</p>
            <p class="card-text text-info text-end ">377,97€</p>
            <p class="card-text text-light text-end ">Au lieu de</p>
            <p class="card-text text-light text-end ">419,97€</p>
        </div>
    </div>
    <div class="card bg-transparent">
        <img class="card-img-top" src="../../../assets/img/cart.png" alt="Card image cap">
        <div class="card-body">
            <div class="card-title text-light">
                <h5 class="d-inline">ASICS GEL-NOOSA TRI 13 M</h5>
                <button type="button" class="btn-close ms-4" aria-label="Close">
                </button>
            </div>
            <p class="card-text text-light">Chaussures basses running homme</p>
            <p class="card-text text-light">Taille 44</p>
            <p class="card-text text-light">Référence: 300826</p>
            <p class="card-text text-info">En stock</p>
            <p class="card-text text-light text-end">Prix unitaire</p>
            <p class="card-text text-light text-end">139,99€</p>
            <p class="card-text text-light text-center">Quantité</p>
            <form id='myform' class="text-center" method='POST' action='#'>
                <input type='button' value='+' class='qtyminus bg-info text-light' field='quantity' />
                <input type='text' name='quantity' value='3' class='qty text-center w-25' />
                <input type='button' value='-' class='qtyplus bg-info text-light' field='quantity' />
            </form>            
            <p class="card-text text-light text-end mt-5">Total</p>
            <p class="card-text text-info text-end ">Avec notre remise immédiate de 10%</p>
            <p class="card-text text-info text-end ">377,97€</p>
            <p class="card-text text-light text-end ">Au lieu de</p>
            <p class="card-text text-light text-end ">419,97€</p>
        </div>
    </div>
    <div class="card bg-transparent">
        <img class="card-img-top" src="../../../assets/img/cart.png" alt="Card image cap">
        <div class="card-body">
            <div class="card-title text-light">
                <h5 class="d-inline">ASICS GEL-NOOSA TRI 13 M</h5>
                <button type="button" class="btn-close ms-4" aria-label="Close">
                </button>
            </div>
            <p class="card-text text-light">Chaussures basses running homme</p>
            <p class="card-text text-light">Taille 44</p>
            <p class="card-text text-light">Référence: 300826</p>
            <p class="card-text text-info">En stock</p>
            <p class="card-text text-light text-end">Prix unitaire</p>
            <p class="card-text text-light text-end">139,99€</p>
            <p class="card-text text-light text-center">Quantité</p>
            <form id='myform' class="text-center" method='POST' action='#'>
                <input type='button' value='+' class='qtyminus bg-info text-light' field='quantity' />
                <input type='text' name='quantity' value='3' class='qty text-center w-25' />
                <input type='button' value='-' class='qtyplus bg-info text-light' field='quantity' />
            </form>            
            <p class="card-text text-light text-end mt-5">Total</p>
            <p class="card-text text-info text-end ">Avec notre remise immédiate de 10%</p>
            <p class="card-text text-info text-end ">377,97€</p>
            <p class="card-text text-light text-end ">Au lieu de</p>
            <p class="card-text text-light text-end ">419,97€</p>
        </div>
    </div>
</div>

<div class="text-end">
    <button type="button" class="btn btn-primary btn-lg my-5 me-5">Commander ></button>
</div>